@CHARSET "ISO-8859-1";

#bg, #search-bg {
	background: url('../../images/fond2.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#bg {
	background-position: center top;
	padding: 70px 90px 120px 90px;
}

#search-container {
	position: relative;
	width:45%;
	margin:auto;
	margin-top:100px;
}

#search-bg {
	/* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
	position: relative;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 99;
	/* Pull the background 70px higher to the same place as #bg's */
	background-position: center -250px;
}

#search {
	/* Put this on top of the blurred layer */
	position: relative;
	z-index: 100;
	padding: 20px;
	background: rgb(34, 34, 34); /* for IE */
	background: rgba(34, 34, 34, 0.5);
	border: 5px solid #fff;
}

@media ( max-width : 600px ) {
	#bg {
		padding: 10px;
	}
	#search-bg {
		background-position: center -10px;
	}
}

#search h2, #search h5, #search h5 a {
	text-align: center;
	color: #fefefe;
	font-weight: normal;
}

#search h2 {
	margin-bottom: 50px
}

#search h5 {
	margin-top: 70px
}

.tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 6px 3px 2px;
	width: 100%;
	color: #999999;
}

.tt-menu {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 9px;
	padding: 20px 0;
	width: 100%;
}

.tt-suggestion {
	font-size: 20px;
	line-height: 20px;
	padding: 3px 20px;
}

.tt-suggestion strong{
	color:#0aa917;
}

.tt-selectable:hover {
	background-color: #cccccc;
	color: #000000;
	cursor: pointer;
}

.tt-suggestion p {
	margin: 0;
}

.form-home{
	display:flex;
	justify-content: center;
}

.form-control-home {
	display: block;
	width: 100%;
	height: 34px;
	padding: 0px 5px;
	font-size: 30px;
	line-height: 0;
	color: white;
	background-color: rgba(50,50,50,0);
	border: 0px solid #ccc;
	border-radius: 0px;
}

.form-control-home:focus {
	border-color: #fff;
	outline: 0;
}

.form-control-home::-moz-placeholder {
	color: #0aa516;
	opacity: 1;
}

.form-control-home:-ms-input-placeholder {
	color: #fff;
}

.form-control-home::-webkit-input-placeholder {
	color: #fff;
}

.form-control-home::-ms-expand {
	background-color: transparent;
	border: 0;
}

.form-control-home[disabled], .form-control-home[readonly], fieldset[disabled] .form-control-home
	{
	background-color: #eee;
	opacity: 1;
}

.form-control-home[disabled], fieldset[disabled] .form-control-home {
	cursor: not-allowed;
}

.talkadvisor{
	color: white;
	font-size:50px;
	text-align:center;
}

.subtitle{
	color: white;
	font-size:35px;
	font-style:italic;
	margin: 40px; 
	margin-right: 350px; 
	text-align: right
	
}
