@CHARSET "ISO-8859-1";

.btn-perso {
  color: #fff;
  background-color: #0aa516;
  border-color: #089114;
}
.btn-perso:focus,
.btn-perso.focus {
  color: #fff;
  background-color: #077810;
  border-color: #04480a;
}
.btn-perso:hover {
  color: #fff;
  background-color: #089114;
  border-color: #067910;
}
.btn-perso:active,
.btn-perso.active,
.open > .dropdown-toggle.btn-perso {
  color: #fff;
  background-color: #077810;
  border-color: #067910;
}
.btn-perso:active:hover,
.btn-perso.active:hover,
.open > .dropdown-toggle.btn-perso:hover,
.btn-perso:active:focus,
.btn-perso.active:focus,
.open > .dropdown-toggle.btn-perso:focus,
.btn-perso:active.focus,
.btn-perso.active.focus,
.open > .dropdown-toggle.btn-perso.focus {
  color: #fff;
  background-color: #077810;
  border-color:  #067910;
}
.btn-perso:active,
.btn-perso.active,
.open > .dropdown-toggle.btn-perso {
  background-image: none;
}
.btn-perso.disabled:hover,
.btn-perso[disabled]:hover,
fieldset[disabled] .btn-perso:hover,
.btn-perso.disabled:focus,
.btn-perso[disabled]:focus,
fieldset[disabled] .btn-perso:focus,
.btn-perso.disabled.focus,
.btn-perso[disabled].focus,
fieldset[disabled] .btn-perso.focus {
  background-color: #0aa516;
  border-color: #089114;
}
.btn-perso .badge {
  color: #0aa516;
  background-color: #fff;
}


.btn-perso-reverse {
  color: #0aa516;
  background-color: rgba(10, 165, 22, 0);
  border:2px solid #0aa516;
}
.btn-perso-reverse:focus,
.btn-perso-reverse.focus {
  color: #0aa516;
  background-color: rgba(10, 165, 22, 0);
  border:2px solid #0aa516;
}
.btn-perso-reverse:hover {
  color: #089114;
  background-color: rgba(10, 165, 22, 0.2) ;
  border:2px solid #0aa516;
}
.btn-perso-reverse:active,
.btn-perso-reverse.active,
.open > .dropdown-toggle.btn-perso-reverse {
  color: #077810;
  background-color:rgba(10, 165, 22, 0.3);
  border:2px solid #0aa516;
}
.btn-perso-reverse:active:hover,
.btn-perso-reverse.active:hover,
.open > .dropdown-toggle.btn-perso-reverse:hover,
.btn-perso-reverse:active:focus,
.btn-perso-reverse.active:focus,
.open > .dropdown-toggle.btn-perso-reverse:focus,
.btn-perso-reverse:active.focus,
.btn-perso-reverse.active.focus,
.open > .dropdown-toggle.btn-perso-reverse.focus {
  color: #077810;
  background-color: rgba(10, 165, 22, 0.3);
  border:2px solid #0aa516;
}
.btn-perso-reverse:active,
.btn-perso-reverse.active,
.open > .dropdown-toggle.btn-perso-reverse {
  background-image: none;
}
.btn-perso-reverse.disabled:hover,
.btn-perso-reverse[disabled]:hover,
fieldset[disabled] .btn-perso-reverse:hover,
.btn-perso-reverse.disabled:focus,
.btn-perso-reverse[disabled]:focus,
fieldset[disabled] .btn-perso-reverse:focus,
.btn-perso-reverse.disabled.focus,
.btn-perso-reverse[disabled].focus,
fieldset[disabled] .btn-perso-reverse.focus {
  background-color: #0aa516;
  border:2px solid #0aa516;
}
.btn-perso-reverse .badge {
  color: #0aa516;
  background-color: rgba(10, 165, 22, 0);
}
